<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplikacioni_per_menaxhimin_e_çerdhes_se_femijeve.Properties.Settings.testConnectionString" connectionString="Data Source=DESKTOP-9VIGE6M;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
